@font-face {
    font-family: outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: young-serif;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-size: 16px;
    display:flex;
    height: 100%;
    background-color: #F3E6D8;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    /* align-items: stretch; */
    background-color: #FFFFFF;
    max-width: 800px;
    min-height: 100vh;
    padding: 40px;
    border-radius: 20px;
    margin:100px;
}
.container__image,
.container__highlight,
.container__description,
.container__ingredient,
.container__instructions {
    margin-bottom: 30px;
}

.container__image {
    width: 100%;
    border-radius: 20px;
}

.container__title,
.container__subtitle {
    font-family: young-serif;
}

.container__title {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 15px;
}

.container__description {
    font-family: outfit;
}

.container__highlight {
    padding: 25px 30px;
    background-color: #FFF5FA;
    border-radius: 5px;
}

.highlight__list {
    padding-left: 20px;
    color: #5F574E;
    line-height: 2em;
    text-align: left;
}

.list-item {
    padding-left: 20px;
    font-family: outfit;
    color: #5F574E;
    font-weight: 400;
}

.highlight__title {
    font-family: outfit;
    font-weight: 600;
    font-size: 1.3em;
    color: #7B284F;
    margin-bottom: 10px;
}

.container__subtitle {
    font-weight: 500;
    color: #854632;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: left;
}

.container__ingredient,
.container__instructions {
    line-height: 1.7em;
    border-bottom: solid #E4DED8 1px;
    padding-bottom: 30px;
}

.container__list {
    padding-left: 25px;
}

.list-item::marker{
    color:#854632;
    line-height: 2.75em;
    font-weight: 700;
}

.container__nutrition {
    width: 100%;
}

.nutrition__description th {
    font-family: outfit;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}

.nutrition__list {
    padding: 10px;
    text-align: left;
    width: 100%;
    font-family: outfit;
}

.nutrition__list td {
    padding: 10px 30px;
    border-bottom: solid #E4DED8 1px;
    width: 50%;
}

.table-bold {
    font-weight: 700;
    color: #854632;
}